# IDEs (IntelliJ, Eclipse, etc.)
.idea/
.project
.classpath
.settings/

# Arquivos de Build e Saída
out/
*/bin/
/lib/
/doc/
*.class

# Arquivos do Módulo Java
module-info.java

# Logs e Temporários
*.log
